<?xml version="1.0"?>
<manifest 
  package="com.stupidbeauty.placeholder" 
  xmlns:android="http://schemas.android.com/apk/res/android"   
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto"
>
  <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <application
    android:allowBackup="true"
    android:supportsRtl="true"
    android:name="com.stupidbeauty.hxlauncher.application.HxLauncherApplication"
    android:fullBackupContent="@xml/mybackupscheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name="com.stupidbeauty.hxlauncher.RandomApplicationActivity" 
      android:launchMode="singleInstance"
      android:windowSoftInputMode="stateAlwaysHidden" 
      android:exported="true"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.stupidbeauty.hxlauncher.activity.ApplicationInformationActivity"
      android:screenOrientation="portrait" 
      android:theme="@style/AppTheme"
      android:launchMode="singleInstance"
    />
    <activity android:name="com.stupidbeauty.blindbox.activity.ApkInstallActivity"
      android:theme="@style/AppTheme"
      android:launchMode="singleInstance" 
    />
  </application>
</manifest>
